---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout
  title="Resume"
  sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Curriculum Vitae</div>
  </div>

  <div class="mb-10 text-left">
    Research Interests: Human-Computer Interaction, Social Computing, Equitable
    Design, Black Community Experiences
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Stanford University (Ph.D.)"
      subtitle="Advisors: Michael Bernstein, James Landay"
    />
    <TimeLineElement
      title="University of Illinois Urbana-Champaign (M.S.)"
      subtitle="Advisors: Karrie Karahalios"
    />
    <TimeLineElement
      title="Bowdoin College (B.A.)"
      subtitle="Major: Computer Science | Minor: Mathematics"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Industry Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Stanford HAI Tech & Policy Intern @ USAID"
      subtitle="Summer 2023">
      Researched and formulated policy recommendations to improve the impact of
      ride-sharing and online gig work algorithms on the well-being of workers
      in developing countries, particularly workers who face gender
      discrimination
    </TimeLineElement>
    <TimeLineElement
      title="Algorithmic Impact Intern @ Spotify"
      subtitle="Summer 2022">
      Charted opportunities and challenges around equitable recommendation
      systems while analyzing the impact of ongoing initiatives around racial
      equity to provide guidance for policy and editorial teams
    </TimeLineElement>
    <TimeLineElement
      title="Research Intern @ Adobe Research"
      subtitle="Summer 2021">
      Analyzed design space for personalized visualizations in online news and
      blogs and conducted formative survey to understand how users explore these
      visualizations
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Relevant Courses</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="#"
        target="_blank">
        PSYCH252: Statistical Methods</a
      >
    </li>
    <li>
      <a
        href="#"
        target="_blank">
        CS329X: Human-Centered NLP</a
      >
    </li>
    <li>
      <a
        href="#"
        target="_blank">
        CS329R: Race & NLP</a
      >
    </li>
    <li>
      <a
        href="#"
        target="_blank">
        COMM355: World of Influencers</a
      >
    </li>
    <li>
      <a
        href="#"
        target="_blank">
        MSE234: Data Privay & Ethics</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
