---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout
  title="Resume"
  sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Curriculum Vitae</div>
  </div>

  <div class="mb-10 text-left">
    <p class="italic">
      Research Interests: Human-Computer Interaction, Social Computing,
      Equitable Design, Black Community Experiences
    </p>
    <p class="text-blue-500 mt-5">
      <a
        href="../public/pdfs/BullockCV.pdf"
        target="_blank"
        >[ Download CV ]</a
      >
    </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Stanford University (Ph.D.)"
      subtitle="Advisors: Michael Bernstein, James Landay"
    />
    <TimeLineElement
      title="University of Illinois Urbana-Champaign (M.S.)"
      subtitle="Advisors: Karrie Karahalios"
    />
    <TimeLineElement
      title="Bowdoin College (B.A.)"
      subtitle="Major: Computer Science | Minor: Mathematics"
    />
  </div>
  <hr class="border-1 border-gray-200" />
  <div class="mt-8 mb-5">
    <div class="text-3xl w-full font-bold">Industry Experience</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Stanford HAI Tech & Policy Intern @ USAID"
      subtitle="Summer 2023">
      Researched and formulated policy recommendations to improve the impact of
      ride-sharing and online gig work algorithms on the well-being of workers
      in developing countries, particularly workers who face gender
      discrimination
    </TimeLineElement>
    <TimeLineElement
      title="Algorithmic Impact Intern @ Spotify"
      subtitle="Summer 2022">
      Charted opportunities and challenges around equitable recommendation
      systems while analyzing the impact of ongoing initiatives around racial
      equity to provide guidance for policy and editorial teams
    </TimeLineElement>
    <TimeLineElement
      title="Research Intern @ Adobe Research"
      subtitle="Summer 2021">
      Analyzed design space for personalized visualizations in online news and
      blogs and conducted formative survey to understand how users explore these
      visualizations
    </TimeLineElement>
  </div>

  <hr class="border-1 border-gray-200" />
  <div class="mt-8 mb-5">
    <div class="text-3xl w-full font-bold">Academic Service</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Stanford CS Faculty Search Committee"
      subtitle="2024 - 2025"
    />
    <TimeLineElement
      title="Stanford CS Department Social Fund Chair"
      subtitle="2022 - 2023"
    />
    <TimeLineElement
      title="UIUC Grainger Engineering Diversity Commitee"
      subtitle="2020 - 2021"
    />
    <TimeLineElement
      title="UIUC Grainger Engineering Anti-Racism Task Force"
      subtitle="Summer 2020"
    />
  </div>

  <hr class="border-1 border-gray-200" />
  <div class="mt-8 mb-5">
    <div class="text-3xl w-full font-bold">Awards</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Stanford Community Impact Award"
      subtitle="2025"
    />
    <TimeLineElement
      title="Stanford Philanthropy and Civil Society Ph.D. Fellowship"
      subtitle="2024 - 2025"
    />
    <TimeLineElement
      title="Stanford CCSRE Tech and Racial Equity Graduate Fellowship"
      subtitle="2022 - 2023"
    />
    <TimeLineElement
      title="Siebel Scholar"
      subtitle="2021"
    />
    <TimeLineElement
      title="GEM Ph.D. Science Fellowship"
      subtitle="2021"
    />
    <TimeLineElement
      title="GEM M.S. Science Fellowship"
      subtitle="2019"
    />
  </div>

  <hr class="border-1 border-gray-200" />
  <div class="mt-8 mb-5">
    <div class="text-3xl w-full font-bold">Teaching Experience</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="UIUC CS210: Ethical and Professional Responsibilities"
      subtitle="Fall 2019, Spring 2020, Spring 2021">
      Recevied an excellent rating on the Center for Innovation in Teaching's <span
        class="italic">
        Teacher's Ranked as Excellent by Their Students
      </span> List
    </TimeLineElement>
    <TimeLineElement
      title="UIUC CS598: Social Spaces on the Internet"
      subtitle="Fall 2020"
    />
    <TimeLineElement
      title="Bowdoin CS1101: Introduction to Computer Science"
      subtitle="Fall 2019"
    />
  </div>

  <hr class="border-1 border-gray-200" />
  <div class="mt-8 mb-5">
    <div class="text-3xl w-full font-bold">Relevant Courses</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-4">
    <li>
      <a
        href="https://psych252.github.io/"
        class="text-blue-500 hover:underline">
        PSYCH252: Statistical Methods</a
      >
    </li>
    <li>
      <a
        href="https://web.stanford.edu/class/cs329x/"
        class="text-blue-500 hover:underline">
        CS329X: Human-Centered NLP</a
      >
    </li>
    <li>
      <a
        href="https://web.stanford.edu/class/cs329r/"
        class="text-blue-500 hover:underline">
        CS329R: Race & NLP</a
      >
    </li>
    <li>
      <a
        href="https://bulletin.stanford.edu/courses/2232341"
        class="text-blue-500 hover:underline">
        COMM355: World of Influencers</a
      >
    </li>
    <li>
      <a
        href="https://explorecourses.stanford.edu/search?view=catalog&filter-coursestatus-Active=on&q=MS%26E%20234:%20Data%20Privacy%20and%20Ethics&academicYear=20172018"
        class="text-blue-500 hover:underline">
        MSE234: Data Privay & Ethics</a
      >
    </li>
  </ul>

  <hr class="border-1 border-gray-200" />
  <div class="mt-8 mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-4">
    <li>Qualitative Analysis</li>
    <li>Quantitative Analysis</li>
    <li>Frontend Development</li>
    <li>Python</li>
    <li>R</li>
  </ul>
</BaseLayout>
