---
const { date, desc, badge } = Astro.props;
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]">
  <div class="hero-content flex-col md:flex-row">
    <div class="grow w-full">
      <h1 class="text-xl font-bold">
        {date}
        {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
      </h1>
      <p class="py-1 text-1xl">{desc}</p>
    </div>
  </div>
</div>
